/* Ajustement de la valeur par défaut du rem face au px pour des calculs super simples */
html {
    font-size: 62.5%;
    /* désormais avec la ligne ci-dessus 1rem = 10px au lieu de 16px */
}

body {
    /* taille par défaut pour éviter d'avoir tous les éléments avec une taille définie à 10px */
    font-size: 1.6rem;
}

main {
    background-color: #dbdbdb;
    /* exemple d'utilisation de l'unité vh */
    min-height: 100vh;
}

h1 {
    font-size: 4.5rem;
}

/* Exemple de flexbox */
.container {
    display: flex;
    flex-wrap: wrap; /* possibilité d'avoir plusieurs lignes */
    justify-content: space-between;
    background-color: pink;
}

.item {
    flex-basis: 20%;
    background-color: rgba(66, 134, 244, 0.5);
}

/* Affichage 2 éléments par ligne sur tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .item {
        flex-basis:45%;
    }
}

/* Affichage en colonne sur mobile */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    
    .item {
        flex-basis: 100%;
    }
}

/* Exemple de positionnement */
figure {
    /* on positionne l'élément et donc la légende va se positionner par rapport à ce conteneur */
    position: relative;
}

figure img {
    /* Images responsives : l'image fera toujours 100% de la largeur de son conteneur */
    width: 100%;
}

figcaption {
    /* Comment doit se positionner l'élément ? */
    position: absolute;
    /* Où doit se positionner l'élément ? */
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #c53232;
    color: white;
    padding: 0.5rem 1rem;
}